<div class="container mt-4">
  <h1>New Restaurant</h1>

  <%= render "form", restaurant: @restaurant %>

  <%= link_to "Back to all restaurants", restaurants_path, class: "btn btn-secondary mt-3" %>
</div>
